pillow~=9.2.0
aiofiles
qrcode~=7.3.1
pydantic~=1.10.2
py-cpuinfo
psutil
requests
py-dateutil
bilireq
pypika-tortoise
tortoise-orm
playwright
tinyrecord
tinydb
loguru
python-socketio
prettytable
apscheduler
packaging
yarl
feedparser
ujson
regex
arrow
websocket-client
translate
openai
